html, body, #root{
  width: 100vw;
  height: 100vh;
}
#root{
  display: flex;
  align-items: center;
}
#drum-machine{
  width: 400px;
  margin: 0 auto;
  padding-bottom: 10px;
}
#pannel{
  border: 2px solid white;
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.drum-pad{
  color: rgba(0,0,0,0.15) !important;
  padding: 20px;
  width: 30%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom:0px;
}
footer{
  margin-top: 40px;
  font-size: 9px;
  color: #eee;
  a{
    color: #eee;
  }
  a:hover{
    color: white;
  }
  #react{
    color: #00d8ff;
  }
}

@media screen and (max-width: 415px){
  #drum-machine{
    position: relative;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    padding-left: 0;
    padding-right: 0;
  }
  #display{
    font-size: 15px;
    margin-top: 20px;
  }
  #pannel{
    margin-top: 20px;
    border: 0px;
  }
  .drum-pad{
    padding: 25px;
  }
  footer{
    position: absolute;
    bottom: 5px;
    width: 100%;
  }
}